.switch {
  --switch-width: 3em;
  --switch-height: 1.5em;
  --thumb-color: #e8e8e8;
  --track-color: #e8e8e8;
  --track-active-color: #888;
  --outline-color: #000;

  font-size: 17px;
  position: relative;
  display: inline-block;
  width: var(--switch-width);
  height: var(--switch-height);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-sizing: border-box;
  border: 2px solid var(--outline-color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--track-color);
  transition: 0.15s;
  border-radius: var(--switch-height);
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: '';
  height: var(--switch-height);
  width: var(--switch-height);
  border: 2px solid var(--outline-color);
  border-radius: 100%;
  left: -2px;
  bottom: -2px;
  background-color: var(--thumb-color);
  transform: translateY(-0.2em);
  box-shadow: 0 0.2em 0 var(--outline-color);
  transition: 0.15s;
}

input:checked + .slider {
  background-color: var(--track-active-color);
}

input:focus-visible + .slider {
  box-shadow: 0 0 0 2px var(--track-active-color);
}

input:hover + .slider:before {
  transform: translateY(-0.3em);
  box-shadow: 0 0.3em 0 var(--outline-color);
}

input:checked + .slider:before {
  transform: translateX(calc(var(--switch-width) - var(--switch-height)))
    translateY(-0.2em);
}

input:hover:checked + .slider:before {
  transform: translateX(calc(var(--switch-width) - var(--switch-height)))
    translateY(-0.3em);
  box-shadow: 0 0.3em 0 var(--outline-color);
}
